<h2>Checkbox Configuration </h2>
<section class="example-section">
    <mat-checkbox class="example-margin">Check me!</mat-checkbox>
    <mat-checkbox class="example-margin">indeterminate</mat-checkbox>
  </section>
  <div class="radio">
    <mat-radio-group aria-label="Select an option">
       <a class="align" > Align:<mat-radio-button value="1">After</mat-radio-button></a>
        <a ><mat-radio-button value="2">Before</mat-radio-button></a>
        <mat-checkbox class="example-margin1" [disabled]="true">Disabled</mat-checkbox>
      </mat-radio-group>
</div>
<mat-divider class="divide"></mat-divider>
<h2>Result</h2>
<mat-checkbox class="example-margin">I'm a checkbox</mat-checkbox>
  
  
