<div class="dash">
  
    <h3>Dashboard  <mat-icon>home</mat-icon></h3>
    
</div>


<!-- card -->
<div class="card">
    <!-- card1 -->
    <mat-card>
        <app-card bg="blue" icon="shopping_cart" count="81%" description="Sales"></app-card>
      </mat-card>

      <!-- card2 -->
      <mat-card>
        <app-card bg="red" icon="thumb_up" count="47,588" description="Likes"></app-card>
      </mat-card>

      <!-- card3 -->
      <mat-card>
        <app-card bg="green" icon="download" count="189,730" description="Downloads"></app-card>
      </mat-card>
      <!-- card 4 -->
      <mat-card>
        <app-card bg="violet" icon="money" count="$52,470" description="Profit"></app-card>
      </mat-card>
      <!-- card 5 -->
      <mat-card>
        <app-card bg="grey" icon="sms" count="75,296" description="Messages"></app-card>
      </mat-card>
      <!-- card 6 -->
      <mat-card>
        <app-card bg="orange" icon="person" count="216,279" description="Members"></app-card>
      </mat-card>
      
   
</div>

<div class="area">
 
  <div >
    <!-- area chart -->
    <app-areachart></app-areachart>
  </div>
  <div>
    <!-- pie-chart -->
    <app-piechart></app-piechart>
  </div>
</div>
<div>
  <!-- table -->
  <app-table></app-table>
</div>

<app-footer></app-footer>






