.dash h3{
    display: flex;
    
    padding-left: 30px;
    color: green;

 }
 .dash mat-icon{
     padding-right: 30px;
 }
 .card{
    display: flex;
     justify-content: space-between;
    align-items: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
 .area{
    margin: 30px 0;
    display: flex;
    justify-content: space-between;

 }
 